body {
    display: flex;
    flex-direction: column;
    font-family: Verdana, Arial, sans-serif;
    font-size: 18px;
    color: #e9e9e9;
    margin: 0;
}

.header-container {
    display: flex;
    flex-direction: column;
    background-color: #0f1722;
    padding-left: 250px;
    padding-right: 250px;
    overflow: hidden;
}

.header-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-title {
    font-size: 24px;
    color: #ffffff;
    font-weight: 600;
    padding-right: 24px;
    white-space: nowrap;
}

ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
    gap: 16px;
    list-style-type: none;
}

.instagram-thumbnail {
    width: 24x;
    height: 24px;
}

.header-body {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 125px;
    margin-bottom: 125px;
}

h1 {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 48px;
    font-weight: 900;
    color: #ffffff;
}

.image-header {
    width: 600px;
    max-width: 900px;
    min-width: 320px;
    height: auto;
    flex: auto;
    margin-left: 48px;
}

.artist-bio {
    max-width: 70ch;
}

.button a {
    text-decoration: none;
    font-size: 18px;
    font-weight: 600;
    color: #000000;
}

.button {
    background-color: #24e668;
    padding: 12px;
    border-radius: 10px;
    border: #000000;
}

.hyperlink {
    text-decoration: none;
    color: #e9e9e9;
}

.header-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

.body-container-one {
    display: flex;
    flex-direction: column;
    margin-left: 250px;
    margin-right: 250px;
    align-items: center;
    margin-bottom: 74px;
}

.body-heading {
    margin-top: 48px;
    margin-bottom: 48px;
    font-size: 38px;
    font-weight: 900;
    color: #242323;
}

.gallery-image {
    height: 200px;
    width: auto;
    min-height: 100px;
    border-radius: 20px;
    border: 8px solid #242323;
}

.image-sub-container p {
    color: #242323;
    font-size: 20px;
    font-style: italic;
}

.image-container {
    display: flex;
    justify-content: center;
    gap: 48px;
}

.image-sub-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.body-container-two img {
    width: 500px;
    height: auto;
    margin-right: 48px;
    flex: auto;
    min-width: 250px;
    max-width: 750px;     
}

.body-container-two {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #0f1722;
    padding-left: 250px;
    padding-right: 250px;
    padding-top: 125px;
    padding-bottom: 125px;
    overflow: hidden;
}

.body-text-one {
    font-size: 24px;
    max-width: 52ch;
    min-width: 29ch;
}

.body-text-two {
    font-size: 22px;
    text-align: end;
}

.body-container-three {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #0f1722;
    border-radius: 20px;
    margin: 100px 250px;
    padding: 48px 125px;
}

.button-text strong {
    font-size: 24px;
    white-space: nowrap;
}

.body-container-three .button {
    margin-left: 24px;
}

.body-container-three .button a {
    white-space: nowrap;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0f1722;
    padding: 24px;
}

.footer p {
    color: #ffffff;
    font-size: 20px;
    white-space: nowrap;
}